@import "tailwindcss";

:root {
  --background: #f9f7f4;
  --foreground: #242424; 
}

html, body{
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: sans-serif;
}